<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="nl.worth.clangnotifications">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name="nl.worth.clangnotifications.ui.ThankYouActivity">
        </activity>
        <activity android:name="nl.worth.clangnotifications.ui.CreateAccountActivity">
        </activity>

        <service
                android:name="nl.worth.clangnotifications.firebase.EmbeddedFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>